@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    font-weight: 700;
    color: #1F2544;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #1F2544;
}

header, footer {
    background-color: #1F2544;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    background-color: #1F2544;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul a {
    text-decoration: none;
    color: #FFD0EC;
    font-weight: 700;
}

section {
    padding: 40px;
}

footer {
    padding: 20px 0;
    width: 100%;
    background-color: #1F2544;
}

.img {
    background-image: url(pexels-tms-sam-837745.jpg);
    height: 100vh;
    background-size: cover;
}

/* Adjustments for small screens */
@media screen and (max-width: 600px) {
    .navbar ul li {
        display: block;
        margin: 10px 0;
    }
}